# Google App Engine generated folder
appengine-generated/

# python leftovers
*.pyc

# third party libraries
lib/

# pyenv
.python-version

# secrets
client-secret.json
secrets.yaml
secrets.tar

# OS stuff
.DS_Store

# coverage results
.coverage
